
/* Stylesheet for my web application */



#landing{
  font-style: italic;
  color: #7979d2;
}
  

 .btn {
      font-size: 18px;
      color: #7979d2;
      padding: 12PX 22PX;
      background: #5e5575;
    }

    .container {
    margin: 4% auto;
  }

  #icon {
    max-width: 200px;
    margin: 1% auto;
  }



#myCarousel{
  opacity: 0.8;	
  
}


    .carousel-caption {
      top: 50%;
      transform: : translateY(-50%);
      text-transform: uppercase;
    }

  .navbar-brand {
     float: left;
     min-height: 40px;
     padding: 0 5px 5px;
  }

     .navbar-inverse .navbar-nav li a{
      color: #D5D5D5;
    }

h2{
  color: #7979d2;
}

.bfooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   opacity: 0.4;
}



 @media {max-width: 600px} {
      .carousel-caption {
        display: none;
      }
    }

    #icon {
    max-width: 200px;
    margin: 1% auto;
  }

  

  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }


/* Created section id's for each link Angular.js Route*/
  #home{
    font-size: 26px;
    font-style: oblique;
  }

  #about{
    font-size: 26px;
    font-style: oblique;
  }

  #band{
    font-size: 26px;
    font-style: oblique;
  }

   #info{
    font-size: 26px;
    font-style: oblique;
  }


  .btn btn-default{
    color: #7979d2;
  }

  /* Ending styling for section is's */